{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock title %}

{% block style %}
table {
    margin-left: 10%;
    margin-bottom: 5%;
    width: 80%;
{% endblock style %}

{% block content %}
<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>

    </tr>
    {% for student in db %}
    <tr>
        <td>{{student.id}}</td>
        <td>{{student.firstname}}</td>
        <td>{{student.lastname}}</td>
        <td>{{student.age}}</td>
        <td>
            <form method='get' action="menu/{{student.id}}">
                <input type="submit" value="More...">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}